.container {
  width: 600px;
  height: 400px;
  padding: 15px;
  /* align-items: center; */
  /* justify-content: center; */
  align-self: center;
  box-shadow: 0 0 10px rgb(55, 55, 55);
}

.data-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}
